[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>

<div style="background-image: url('wp1811804.png');">


<a class = "button is-warning" href="[[=URL('to_spoof')]]">
      <span class = "icon"><i class = "fa fa-flag-checkered"></i></span>
      <span>View All Reported Spoofers</span>
    </a>


<div class="section" id="vue-target" v-cloak>


    <div class="title has-text-success is-family-code is-size-1 has-text-centered has-background-danger-dark">Pokemon Go Location Spoofer Registry</div>
        <div class="title has-text-success is-family-code is-size-2 has-text-centered has-background-primary-dark">Latest Spoofer Reports</div>


    <div v-if="add_mode" class="container block">
    <div class="form">
      <!-- This looks like a form, but is not.  We just need the inputs. -->
      <div class="field">
        <div class="control">
          <input type="text" v-model="add_post_info" value = "New Spoofer Submission" class="input">
        </div>
      </div>
      <div class="field">
        <div class="control">
          <input type="submit" @click="add_post" value="Describe a Spoofing Incident" class="button is-primary">
          <input type="submit" @click="set_add_status(false)" value="Cancel" class="button is-danger">
        </div>
      </div>
    </div>
  </div>

  <div v-if="!add_mode" class = "container block">
    <button @click="set_add_status(true)" class="button is-primary">
      <i class="fa fa-plus fa-fw"></i>
    </button>
  </div>

  <div class="container block">
  <div class="box has-background-white-ter box-shadow" v-for="r in rows.slice().reverse()">
      <div style="background-image: url('scorbunny.jpeg');">
    <p>{{r.post_info}}
        <div v-if="r.email === '[[=globals().get('user').get('email')]]'">


            <button @click="delete_post(r._idx)" class="button is-danger is-pulled-right">
                <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
            </button>

            <figure class="image is-64x64">
             <img src="pokemon-go-logo.png" alt="Image">
             </figure>

            <a class = "button is-success is-pulled-right" href="[[=URL('back')]]">
            <span class = "icon"><i class = "fa fa-train"></i></span>
            <span>My Reported Spoofers</span>
            </a>

          <!--  <button @click="delete_post(r._idx)" class="button is-success is-pulled-right">
                <span class="icon"><i class="fa fa-fw fa-train"></i></span>
            </button> -->

        </div>
    <h3 class = "has-text-grey-darker">{{r.post_user}}</h3>
    </p>


    </div>


  </div>

  <!-- Put here your Vue.js template -->
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let search_url = "[[=XML(search_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let get_images_url = "[[=XML(get_images_url)]]";
  let get_rating_url = "[[=XML(get_rating_url)]]";
  let set_rating_url = "[[=XML(set_rating_url)]]";


</script>
<script src="js/index.js"></script>
[[end]]
