[[extend 'layout.html']]

<div style="background-image: url('spoofer-pic.jpeg');">

<a class = "button is-success" href="[[=URL('to_home')]]">
      <span class = "icon"><i class = "fa fa-flag-checkered"></i></span>
      <span>Back to Main Menu</span>
</a>

<div class="section">
   <!-- Put the table here -->

   <h1 class = "title has-text-black has-size-1 has-text-centered has-background-primary-dark">All Spoofers Reported by the Community</h1>


   <div class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Reported Spoofers by the Community</th>
          <th>Location of Spoofer</th>
      </tr>

      <tr>
        [[for row in spoofList:]]
        <td>[[=row.player_name]]</td>
          <td>[[=row.location]]</td>

      </tr>
      [[pass]]
    </table>

  </div>

</div>
