[[extend 'layout.html']]

<div style="background-image: url('pokemon-go-logo.png');">

<a class = "button is-success" href="[[=URL('to_home')]]">
      <span class = "icon"><i class = "fa fa-flag-checkered"></i></span>
      <span>Back to Main Menu</span>
</a>


<div class="section">
   <!-- Put the table here -->

   <h1 class = "title has-text-danger">Information on Spoofing Incident(s)</h1>




   <div class="container">
    <table class="table is-striped is-fullwidth">
      <tr>
        <th>Location</th>
        <th>Player Username</th>
        <th></th>
        <th>Evidence</th>
        <th></th>
          <th></th>
      </tr>

      <tr>
        [[for row in rows:]]
        <td>[[=row.location]]</td>
        <td>[[=row.player_name]]</td>
        <td>
          <a class="button is-warning" href="[[=URL('edit_contact', row.id, signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
          </a>
          <a class="button is-danger" href="[[=URL('delete_contact', row.id, signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-trash"></i></span>
          </a>
        </td>

          <td>
          <a class="button is-warning" href="[[=URL('edit_phone', row.id, signer=url_signer)]]">
            <span class="icon"><i class="fa fa-fw fa-pencil"></i></span>
              <span>Include Screenshots or Other Photo Evidence Here</span>
          </a>
        </td>

      </tr>
      [[pass]]
    </table>

     <a class = "button is-primary" href="[[=URL('add_contact')]]">
      <span class = "icon"><i class = "fa fa-plus"></i></span>
      <span>Add a Spoofer</span>
    </a>
  </div>

</div>
